/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
--ff-primary: "Roboto", sans-serif;
--ff-secondary: "Open Sans", sans-serif;
--transition: all 0.3s linear;
--spacing: 0.25rem;
--radius: 0.5rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
--max-width: 1170px;
--fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

hr{
width: 100%;
border: 2px solid #23aae6;
}

html {
scroll-behavior: smooth;
}

*,::after,::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: var(--ff-secondary);
background: #dce1e4;
color: black;
line-height: 1.5;
font-size: 0.875rem;
}

ul {
list-style-type: none;
}

a {
text-decoration: none;
}

h1,h2,h3,h4 {
letter-spacing: var(--spacing);
line-height: 1.25;
margin-bottom: 0.75rem;
font-family: var(--ff-primary);
}

h1 {
font-size: 3rem;
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 1.25rem;
}

h4 {
font-size: 0.875rem;
}

p {
margin-bottom: 1.25rem;
color: black;
}

.tittle{
  color: #2d668f;
  text-align: justify;
}

@media screen and (min-width: 800px) {
h1 {
  font-size: 4rem;
  }
h2 {
  font-size: 2.5rem;
  }
h3 {
  font-size: 1.75rem;
  }
h4 {
  font-size: 1rem;
  }
body {
  font-size: 1rem;
  }
h1,h2,h3,h4 {
  line-height: 1;
  }
}

/*  global classes */
.btn {
text-transform: uppercase;
background: transparent;
padding: 0.375rem 0.75rem;
letter-spacing: var(--spacing);
display: inline-block;
transition: var(--transition);
font-size: 0.875rem;
border: 2px solid #2d668f;
cursor: pointer;
box-shadow: 0 1px 3px white;
border-radius: var(--radius);
}

.btn:hover {
color: #2d668f;

}

.btn-white {
color: white;
border-color: white;
border-radius: 0;
padding: 0.5rem 1rem;
}

.btn-white:hover {
background: white;
color: #2d668f;
}

/* section */
.section1 {
max-height: fit-content;
margin: 10px;
gap: 10px;
}

.section2 {
  background-color: white;
  max-height:fit-content;
  text-align: justify;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin: 10px;
}

.section3{
  max-height:fit-content;
  text-align: justify;
  margin: 10px;
  /* background-color:#e66123; */
}

.section4 {
  max-height:fit-content;
  margin: 10px;
  /* background-color:#49a6e9; */
}

.footer{
  background-color:#2d668f;
  display: flex;
  color: white;
  left: 0;
  right: 0;
}

/* navbar */
nav {
background-color: white;
padding: 6px 1.5px;
z-index: 1;
background-image: none;
position: sticky;
position: -webkit-sticky;
top: 0;
}

.back-video{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}

/* fixed nav */
.fixed-nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color:#49a6e9;
z-index: 10;
}

.nav-header{
  /* background-color: white; */
  color: #23aae6;
}

.nav-header {
display: flex;
align-items: center;
justify-content:center;
z-index: 1;
}

.nav-toggle {
font-size: 1.5rem;
color: #2d668f;
background: transparent;
border-color: transparent;
transition: var(--transition);
cursor: pointer;
z-index: 1;
}

.nav-toggle:hover {
color: #2d668f;
}

.logo {
height: 50px;
}

.links-container {
height: 0;
overflow: hidden;
transition: var(--transition);
}

.show-links {
height: 200px;
}

.links a {
background: var(--clr-white);
color: #2d668f;
font-size: 1.1rem;
text-transform: capitalize;
letter-spacing: var(--spacing);
display: block;
transition: var(--transition);
font-weight: bold;
padding: 0.75rem 0;
}

@media screen and (min-width: 800px) {
nav {
  background-color: transparent;
  }
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
.nav-header {
  padding: 0;
  }
.nav-toggle {
  display: none;
  background-color: white;
  }
.links-container {
  height: auto !important;
  }
.links {
  display: flex;
  }
.links a {
  background: transparent;
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  margin: 0 1rem;
  font-weight: bold;
  padding: 0;
  }
.links a:hover {
  color: #2d668f;
  }
}

/* hero */
.banner {
min-height: 100vh;
display: grid;
place-items: center;
text-align: center;
}

.container h1 {
color: white;
text-transform: uppercase;
}

.container p {
color: white;
max-width: 25rem;
margin: 0 auto;
margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
.container p {
  max-width: 40rem;
  }
}

/* sections and title */
.tittle h2 {
text-transform: uppercase;
}

.tittle span {
color: var(--clr-secondary);
}

footer {
background: #7894ac;
padding: 5rem 1rem;
display: flex;
justify-content: space-between;
align-items: center;
}

footer p {
color: var(--clr-white);
text-align: center;
text-transform: capitalize;
letter-spacing: var(--spacing);
margin-bottom: 0;
}

.top-link {
font-size: 1.25rem;
position: fixed;
bottom: 3rem;
right: 3rem;
background: #49a6e9;
width: 2rem;
height: 2rem;
display: grid;
place-items: center;
border-radius: var(--radius);
color: white;
animation: bounce 2s ease-in-out infinite;
visibility: hidden;
z-index: -100;
}

.top-link:hover {
color: #2d668f;
background: white;
transition: var(--transition);
}

.show-link {
visibility: visible;
z-index: 100;
}

@keyframes bounce {
0% {
  transform: scale(1);
  }
50% {
  transform: scale(1.5);
  }
100% {
  transform: scale(1);
  }
}

.time{
display: flex;
flex-direction: row;
margin: 2rem 0;
justify-content: center;
align-self: center;
flex-wrap: wrap;
flex-grow: auto;
flex-shrink: auto;
}

/* Avatar */
.avatar {
margin: 25px;
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
}

.avatar img {
border-radius: 100px;
width: 150px;
height: 150px;
margin-bottom: 10px;
}

.avatar p {
text-align: center;
margin: 2px;
}

.avatar p:first-of-type {
font-weight: bolder;
margin-bottom: 5px;
}

/* Energies */

.energy-content {
  display: flex;
  flex-direction: row;
  margin: 1rem 0; /* Reduced margin */
  justify-content: center;
  align-self: center;
  align-items: center; /* Changed to center */
  max-height: fit-content;
  flex-wrap: wrap;
  flex-grow: auto;
  flex-shrink: auto;
  gap: 10px;
}

.energy {
  display: flex;
  margin: 25px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  flex: 16.66%;
  padding: 5px;
  color: #2d668f
}

.energy-img {
  border-radius: 10px;
  width: 70%;
  height: 70%;
  margin-bottom: 10px;
}

.energy p {
  text-align: center;
  margin: 2px;
}

.energy h2 {
  text-align: center;
  margin-bottom: 10px;
}

.hidrica {
  display: flex;
}

.hidrica p {
  text-align: justify;
}

.solar {
  display: flex;
}

.solar p {
  text-align: justify;
}

.eolica {
  display: flex;
}

.eolica p {
  text-align: justify;
}

.biomassa {
  display: flex;
}

.biomassa p {
  text-align: justify;
}

.geotermica {
  display: flex;
}

.geotermica p {
  text-align: justify;
}

.oceanica {
  display: flex;
}

.oceanica p {
  text-align: justify;
}

.logos{
  max-width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EE{
  display: flex;
  max-width: 70%;
}

.depoimento{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 5px;
}

/* Depoimento */
button.accordion {
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 10px;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

div.panel {
  padding: 0 18px;
  display: none;
}

div.panel.show {
  display: block;
}

div.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

div.panel.show {
  opacity: 1;
  max-height: 500px;
}

button.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2796";
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  display: none;
}

/* mobile */
@media screen and (max-width: 1020px){
  /* nav */
  .links-container{
    display: block;
  }
  .nav-header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tittle h2{
    font-size: 1.5rem;
    text-align: justify;
  }

  /* energy */
  .section1{
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
  }

  .energy h2{
    font-size: 1.5rem;
    text-align: justify;
  }
}
